/* Welcome component */
.welcomeContainer{
  background-color: var(--light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
}

.welcomeImage img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  border: 1px solid var(--dark-blue);
  width: 22rem;
}


.welcomeDescription{
  color: var(--lighter-green);
  font-size: 20px;
  line-height: 1.4;
}

.title {

  background: var(--dark-blue);
  background-clip: border-box;
  font-size: 2.0rem;
  font-weight: 500;
  display: block;
  padding: 0.5rem 0px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 700px) {
  
  .welcomeImage img {
    width: 35rem;
  }

  .title {
    font-size: 2.7rem;
  }


}

@media (min-width: 1200px) {
   
  .welcome {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1200px;
  }
}