.navigation {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 1rem;
  border-radius: 5px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
.header {
  color: var(--white-blue);
  grid-area: header;
  position: sticky;
  line-height: 3rem;
  top: 0;
  z-index: 1;
}

.button {
  background-color: var(--white-blue);
  width: 2.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  color: var(--dark-blue);
  cursor: pointer;
  transition: 0.3s;
  border-color: var(--dark-blue);
}
.button:hover {
  background-color: var(--white);
}

@media (min-width: 700px) {
}

@media (min-width: 1200px) {
  .navigation {
    width: 1200px;
  }
}
