/* contact */

.contactUs {
  align-content: center;
  background-color: var(--blackish);
  display: grid;
  gap: 1rem;
  grid-auto-rows: 23rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,25rem), 1fr));
  justify-content: center;
  padding: 0.5rem;
}

.contactImage {
  width: 15rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid var(--white-mixbaaljun);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--white-mixbaaljun);
  padding: 1rem;
}


.socialMediaList {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 2px;
}

.socialMediaList li {
  display: inline-block;
  margin: 2px;
  padding: 2px;
}

.socialMediaList li a {
  color: var(--white-mixbaaljun);
}


@media (min-width: 700px) {

  .contactUs{
    padding: 2rem 4rem;
  }

}

@media (min-width: 1200px) {
  .contactUs{
    padding: 2rem 10rem;
  }
}