.App {
  background-color: #b1c9ef;
  display: grid;
  grid-template-rows: 3rem minmax(min(18rem, 100%), 1fr) 1.5rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
  justify-content: space-evenly;
  --white-mixbaaljun: rgb(216, 224, 226);
  --apple-colors: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  --blackish: #032030;
  --dark-blue: #022b42;
  --light-blue: #004d74;
  --light-green: #006da4;
  --lighter-green: #006494;
  --white: #f0f3fa;
  --white-blue: #d5deef;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 4rem;
  align-items: center;
}
