.App {
  background-color: black;
  /* height: 100vh; */
  display: grid;
  grid-template-rows: 3rem 1fr 1.5rem;
  grid-template-areas:
    "header"
    "content"
    "footer";
  /* overflow-x: hidden; */
  --white-mixbaaljun: rgb(216, 224, 226);
  --apple-colors: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  --blackish: #1d1c1c;
}

header {
  background-color: var(--white-mixbaaljun);
  color: var(--blackish);
  grid-area: header;
  /* position: sticky; */
  padding: 0px 1rem;
  line-height: 3rem;
  top: 0;
}

nav {
  margin-left: auto;
  margin-right: auto;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

footer {
  grid-area: footer;
  background-color: var(--white-mixbaaljun);
}

@media (min-width: 700px) {
  header {
    padding: 0px 4rem;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 0px 10rem;
  }
}
